<div class="body">
    <div class="side-bar">
        <div class="side-bar-products">
            Products
        </div>
        <a class="active">All (8)</a>
        <a>Simple Tools (3)</a>
        <a>Complex Tools (5)</a>
    </div>
    <div class="components-header">
        <div class="products-sync">
            <p class="components-products">
                Products
            </p>
            <button>Sync</button>
        </div>
    </div>
    <div class="components" >
        <div class="single-component" *ngFor="let item of items">
            <!-- <img src={{item.imageUrl}} alt="item" width="100%"> -->
            <div class="img" style="background-image: url({{item.imageUrl}}); width: 100%;">
                <button>Sync</button>
            </div>
            <p>{{item.name}}</p>
            <p>${{item.price}}</p>
        </div>
    </div>
</div>

