<div class="body">
    <div class="side-bar">
        <div class="side-bar-products">
            Products
        </div>
        <a id="all" (click)="changeCategory('all')" class="active">All ({{items.length}})</a>
        <a id="simple" (click)="changeCategory('simple')">Simple Tools ({{simples}})</a>
        <a id="complex" (click)="changeCategory('complex')">Complex Tools ({{complexes}})</a>
    </div>
    <div class="components-header">
        <div class="products-sync">
            <p class="components-products">
                Products
            </p>
            <button (click)="syncAll()">Sync</button>
        </div>
    </div>
    <div class="components" >
        <div class="single-component" *ngFor="let item of items|categorize:query">
            <div class="img" style="background-image: url({{item.imageUrl}}); width: 100%;">
                <button (click)="syncOne(item.id)">Sync</button>
            </div>
            <p>{{item.name}}</p>
            <p>${{item.price}}</p>
        </div>
    </div>
</div>

