/* You can add global styles to this file, and also import other style files */
body{
    margin: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f2f8fb;
    color: #14466e;
}